body{
    background-image: url(image/sunset.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    border: 1px solid white;
    width: 30%;
    height: 500px;
    margin: auto;
    margin-top: 70px;
}
.login{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
label{
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
input{
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    background-color: transparent;
    padding-left: 20px;
}
.image{
    height: 20px;
    width: 20px;
    margin-left: 325px;
    position: relative;
    top: -30px;
    padding-left: 15px;
}
.images{
    height: 25px;
    width: 25px;
    margin-left: 325px;
    position: relative;
    top: -30px;
    padding-left: 15px;
}
.checks{
    margin-left: 40px;
    margin-top: -30px;
    width: 15px;
}
.checkbox{
    margin-left: 65px;
    position: relative;
    top: -27px;
    font-family: 'Times New Roman', Times, serif;
}
.para{
    color: #ffffff;
    margin-left: 250px;
    margin-top: -45px;
}
.para:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
}
.logins{
    border-radius: 15px;
    height: 40px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.logins:hover{
    background-color: grey;
}
.account{
    color: #ffffff;
    text-align: center;
}